/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/* reset */
body{
	padding:0;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background:#fff;
}
body input[type="text"],body input[type="button"],body input[type="submit"],body textarea{
	-webkit-appearance:none;
}
body input[type="button"],body input[type="submit"]{
	cursor:pointer;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.top-menu{
	padding-top: 0.5em;
}
.top-menu ul li{
	display:inline-block;
	text-transform:uppercase;
	float:left;
}
.top-menu ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
	display: block;
	margin: 6px;
}	
ul.social-icons li{
	display:inline-block;
}
ul.details li{
	display:inline-block;
}
.header-banner{
	background: url("../images/header-banner.jpg") no-repeat;
	min-height: 200px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
	margin-bottom: -2px;
}
.header-banner-info h3{
	font-size: 1em;
	color: #FFFFFF;
	margin: 2px 0 0.1em 0;
}
.header-banner-info h1{
	font-size:1em;
	color:#FFFFFF;
}
.header-banner-info span{
	color:#FFFFFF;
}
.header-banner-info p{
	color: #FFFFFF;
	font-size: 0.7em;
	margin: 0.4em 0 0.8em 0;
}
.header-banner-info {
	padding-top: 1.2em;
	position:relative;
}
.about-section{
	background:#524664;
	padding:1em 0;
}
.about-section-head{
	margin-bottom:1em;
	position: relative;
}
.about-section-head h3{
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:1em;
}
.about-section-grid-2.text-center {
	border: 2px solid #FFD670;
}
.about-section-head p{
	color: #D0C6DB;
	font-size: 0.75em;
	margin-top: 3px;
	text-transform: uppercase;
}
.about-section-grid-1,.about-section-grid-3 {
	padding: 0;
}
.about-section-grid-1 h4{
	color:#fff;
	font-size:0.9em;
	text-transform:uppercase;
	margin-bottom:0.5em;
}
.about-section-grid-1 p{
	color: #C4C0CF;
	font-size: 0.85em;
	margin-bottom: 0.4em;
	line-height: 1.5em;
}
.about-section-grid-2{
	width: 60%;
	margin: 20px auto;
}
.about-section-grid-3 h4{
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom: 0.2em;
}
.about-section-grid-3 p{
	color: #C4C0CF;
	font-size: 14px;
	margin-bottom: 1em;
}
/*----progress-meter----*/
.meter { 
	position: relative;
	margin: 0px 0 12px 0;
	background: #615474;
	height: 20px;
}
		.meter > span {
			display: block;
			height: 100%;
			background-color: #FFD670;
			position: relative;
			overflow: hidden;
		}
		.orange > span {
			background-color:#555;
		}
		
		.red > span {
			background-color:#FFD670;
		}
		.nostripes > span > span, .nostripes > span:after {
			-webkit-animation: none;
			-moz-animation: none;
			background-image: none;
		}
/*----//progress-meter----*/
.progress_desc{
	float: left;
	color: #fff;
	margin: 4px 5px;
	font-size: 0.65em;
	text-transform: uppercase;
}
.percent{
	float: right;
	color: #4A5561;
	margin: 4px 2px 0;
	font-size: 12px;
}
.title {
	margin:2em 0 1em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
}
.portfolio-section{
	background:#FFD670;
	padding:1em 0;
}
.portfolio-section-head{
	margin-bottom:1em;
	position:relative;
}
.portfolio-section-head h3{
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:1.1em;
}
.portfolio-section-head p{
	color: #FFF0CA;
	font-size: 0.8em;
	margin-top: 0.3em;
	text-transform: uppercase;
}
.project-name{
	border-bottom:1px solid #FFF1CE;
}
.project-name span{
	color: #FFF1CE;
	font-size: 14px;
	margin-bottom: 0.3em;
	text-transform: uppercase;
	display: block;
}
.portfolio-section-top-row {
	padding: 0em 0 1em 0;
}
.portfolio-section-top-row-left-grid {
	padding: 0;
}
.project-name h3{
	color: #fff;
	font-size: 1em;
	margin-bottom: 0.5em;
}
.project-description ul {
	margin: 0 0 10px 45px;
}
.project-description span{
	color: #FFF1CE;
	font-size: 14px;
	margin: 0.5em 0;
	display: block;
	text-transform: uppercase;
}
.project-description ul li{
	color:#fff;
	list-style-type: disc;
}
.project-description ul li a{
	color:#fff;
	font-size:14px;
	margin: 6px 0;
}
.project-description p{
	color: #fff;
	font-size: 13px;
	line-height: 1.4em;
	margin-bottom: 0.5em;
}
.project-description{
	border-bottom:1px solid #FFF1CE;
}
.address span{
	color: #FFF1CE;
	font-size: 13px;
	margin: 0 0 0.3em 0;
	display: block;
	text-transform: uppercase;
}
.address{
	border-bottom:1px solid #FFF1CE;
	margin: 9px 0 0 0;
}
.address a{
	color: #fff;
	margin: 0 0 0.5em 2em;
	display: block;
	font-size: 14px;
}
.tags span{
	color: #FFF1CE;
	font-size: 13px;
	margin: 0.5em 0;
	display: block;
	text-transform: uppercase;
}
.tags p{
	color:#fff;
	font-size:13px;
}
.portfolio-section-top-row-right-grid{
	width:100%;
	margin-top: 1em;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 49%;
	display: none;
	float: left;
	overflow: hidden;
	margin: 0px 1% 2% 0;
}
div#portfoliolist {
	padding: 0px 0px;
}	
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}
.portfolio img {
	max-width:100%;
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}
.portfolio .label-bg {
	background: #22B4B8;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
.portfolio .text-category {
	display:block;
	font-size:9px;
	font-size: 12px;
	text-transform:uppercase;
}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
}
.row:after,
.clearfix:after {
  clear: both; 
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}				  
.footer{
	padding:1em 0;
	background:#3e364d;
}
.copy-rights p{
	color:#AAAAAA;
	font-size:13px;
}
.copy-rights a{
	color:#fff;
	font-size:14px;
}
.blog-section{
	padding: 1.5em 0 1em 0;
	background:#fff;
}
.blog-section-head h3{
	color:#5B6074;
	font-size: 1.1em;
	text-transform:uppercase
}
.blog-section-head p{
	color: #A5AABE;
	font-size: 0.8em;
	text-transform: uppercase;
	margin-top: 1px;
}
.blog-section-head{
	position:relative;
	margin-bottom:1em;
}
.blog-section-banner h3 {
	text-transform: uppercase;
	font-size: 0.9em;
	color: #373C4F;
	margin: 5px 0;
}
.blog-section-banner span {
	color: #C4C0CF;
	font-size: 12px;
	font-style: italic;
}
.blog-section-banner span a{
	color: #C4C0CF;
	font-size: 13px;
	font-style:normal;
	margin:0 4px;
}
.blog-section-banner p {
	color: #898D9D;
	font-size: 13px;
	line-height: 1.6em;
	margin: 8px 0;
}
.blog-section-banner p label{
	color: #898D9D;
	font-size: 14px;
}
.blog-section-tags {
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.blog-section-tags p span {
	color: #898D9D;
	font-style: normal;
	font-size: 14px;
}
.blog-section-tags p{
	color: #898D9D;
	font-style: normal;
	font-size: 13px;
	margin: 7px 0;
}
.icon{
	float: left;
	width: 21%;
	margin-right: 2%;
}
.icon-text{
	float:left;
	width:77%;
	margin-top: -4px;
}
.comment-section-row{
	padding:0.8em 0;
	border-bottom: 1px solid #EEEEEE;
}
.comments-section {
	padding: 0.7em 0;
}
.comments-section h4 {
	color: #898D9D;
	font-size: 15px;
}
.comment-section-row h5 a {
	color: #FFDB83;
	font-size: 0.85em;
}
.comment-section-row span {
	color: #C4C0CF;
	font-size: 10px;
	text-transform: uppercase;
	margin: 1px 0;
	display: block;
}
.comment-section-row p {
	color: #898D9D;
	font-size: 12px;
	line-height: 1.4em;
}
.rply-section{
	padding: 0em 0 1.2em 0;
}
.rply-section h4 {
	color: #898D9D;
	font-size: 15px;
}
.rply-section p {
	color: #898D9D;
	font-size: 12px;
	margin: 0.2em 0 0.8em 0;
}
.rply-section input.text{
	width: 92%;
	border: none;
	outline: none;
	background: #F8F8F8;
	padding: 8px 8px;
	font-size: 13px;
	color: #CACACA;
	margin: 0px 0px 10px 0px;
}
.rply-section  textarea {
	width: 92.3%;
	border: none;
	outline: none;
	background: #F8F8F8;
	padding: 8px 8px;
	font-size: 13px;
	color: #CACACA;
	resize: none;
	height: 6em;
	margin-bottom: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
}
.rply-section  input[type="button"]{
	border: none;
	outline: none;
	padding: 8px 10px;
	color: #fff;
	background: #FFD670;
	text-transform: uppercase;
	font-size: 13px;
}
.col img {
	width: 100%;
}
.image-text {
	padding: 5px 6px;
	background: #F3F3F3;
	margin-top: -4px;
}
.image-text h5 {
	color: #373C4F;
	font-size: 0.85em;
	margin: 0 0 0px 0;
}
.image-text p {
	color: #898D9D;
	font-size: 12px;
	font-style: italic;
	line-height: 1.4em;
}
.image-text a {
	color: #FFD670;
	font-size: 13px;
}
.span_4_row {
	padding:1em 0 0 0;
}
ul#flexiselDemo3 {
	text-align: center;
}
.contact-section-head h3 {
	color: #5B6074;
	text-transform: uppercase;
	font-size: 1.2em;
}
.contact-section-head p {
	color: #A5AABE;
	text-transform: uppercase;
	font-size: 13px;
	margin-top: 0.3em;
}
.col {
	width: 47%;
	float: left;
	margin: 0 3% 6% 0;
}
.contact-section-head {
	position: relative;
}
.contact-info ul{
	margin:1em 0;
}
.contact-info ul li{
	display:inline-block;
}
i.message{
	width: 35px;
	height: 35px;
	background: url("../images/img-sprite.png") no-repeat -3px -38px;
	margin-right: 3px;
	background-size: 250px;
	display: inline-block;
	vertical-align: middle;
}
i.phone{
	width: 35px;
	height: 35px;
	background: url("../images/img-sprite.png") no-repeat -48px -38px;
	margin-right: 2px;
	background-size: 250px;
	display: inline-block;
	vertical-align: middle;
}
.contact-info ul li a {
	color: #A5AABE;
}
.contact-info ul li{
	color: #A5AABE;
	font-size: 0.85em;
	vertical-align: middle;
}
.contact-info input.text,.contact-info textarea {
	width: 89%;
	border: none;
	outline: none;
	background: #F3F3F3;
	padding: 8px;
	font-size: 13px;
	color: #CACACA;
	margin: 0px 0px 8px 0;
}
.contact-info textarea {
	width: 88.5%;
	resize: none;
	height: 6.5em;
	margin-bottom: 1em;
	font-family: Arial, Helvetica, sans-serif;
}
.contact-info input[type="button"] {
	border: none;
	outline: none;
	padding: 7px 14px;
	color: #fff;
	background: #FFD670;
	text-transform: uppercase;
	font-size: 13px;
}
.categories ul li,.archives ul li{
	list-style-type:none;
	margin:5px 0;
}
.categories ul li a,.archives ul li a{
	color:#BEC0C9;
	font-size:12px;
	text-transform: uppercase;
}
.search h5,.categories h5,.archives h5{
	color:#898D9D;
	text-transform:uppercase;
	font-size:0.85em;
}
.categories ul,.archives ul {
	margin: 0.5em 0 0 0;
}
.search-box {
	position: relative;
	background: #F8F8F8;
	-webkit-apperance: none;
	margin: 0;
	color: #FFD670;
	width: 88%;
	margin: 10px 0 16px 0.7em;
}
.search-box form input[type="text"]   {
	border: none;
	outline: none;
	font-size: 14px;
	padding: 10px;
	-webkit-apperance: none;
	margin: 0;
	background: #F8F8F8;
	color: #FFD670;
	width: 75%;
}
.search-box form input[type="submit"] {
	border: none;
	outline: none;
	cursor: pointer;
	background: url(../images/search-icon.png) no-repeat;
	position: absolute;
	right: 8px;
	bottom: 5px;
	padding: 0;
	width: 22px;
	height: 22px;
}
.categories {
	width: 60%;
	float: left;
}
.archives {
	width: 40%;
	float: left;
}
/********start-slider**************/
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
	width:100%;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
}
.course_demo{
	padding: 1.2em 0 0 0;
}
.nbs-flexisel-item img {
	  width: 100%;
	  cursor: pointer;
	  position: relative;
	  display:inline;
}
/*** Navigation ***/
.twitter-section{
	background: url("../images/header-banner.jpg") no-repeat;
	min-height: 140px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
ul#flexiselDemo3 p{
	color: #fff;
	font-size: 11px;
	margin: 0em 0 0.8em 0;
}
ul#flexiselDemo3 li a{
	color: #fff;
	font-size: 13px;
}
.contact-section {
	padding: 1em 0;
}
.text-center{
	text-align:center;
}
.container{
	width:92%;
	margin:0 auto;
}