/*----
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
---*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clearfix{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/* reset */
body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	background:#fff;
	font-size:100%;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
/*----*/
.header{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:100% 100%;
	min-height:123px;
}
.logo{
	text-align:center;
	padding-top:3.5em;
}
span.menu{
	display:block;
	width:25px;
	height:25px;
	background:url(../images/nav.png) no-repeat 0px 0px;
	position:absolute;
	right:15px;
	top:15px;
	cursor:pointer;
}
.top-menu{
	clear:both;
	width:100%;
	margin-right:0;
	background:#FC7171;
}
.top-menu ul{
	display:block;
}
.top-menu ul li{
	display: inline-block;
	text-align: center;
	width: 100%;
}
.top-menu ul li a{
	text-decoration:none;
	text-align:center;
	padding: 4px;
	display: block;
	color: #fff;
	font-size: 13px;
}
/*----*/
.about{
	background:#F6F5F7;
	padding:1.5em 0;
	position:relative;
}
.about h3{
	color:#364356;
	text-align:center;
	margin:0;
	font-size:14px;
}
.about-grids{
	margin-top:1em;
	padding:6px 10px;
}
.about-info h4{
	color:#364356;
	font-weight:600;
	margin:0;
	font-size:13px;
}
.about-info label{
	display:block;
	background:#E9E7E7;
	min-height:1px;
	width:40%;
	margin: 5px 0 1px 0;
}
.about-info p{
	font-size:0.75em;
	color:#BBBABB;
	line-height:1.5em;
	width: 100%;
	margin-bottom: 17px;
	}
.about-skill h4{
	color:#364356;
	font-weight:600;
	margin:0;
	font-size:13px;
}
.about-skill p i{
	width:100%;
	color:#BBBABB;
	font-size:0.75em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	display: block;
}
	.about-skill label{
	display:block;
	background:#E9E7E7;
	min-height:1px;
	width:40%;
	margin: 4px 0 1px 0;
}
.skill-bar,.skill-bar2,.skill-bar3{
	float:left;
	border-top: 21px solid #FF6D6B;
	border-right: 10px solid transparent;
	margin-bottom: 0.5em;
}
.skill-grid1,.skill-grid2,.skill-grid3{
	background:#F9FAFB;
	width: 100%;
	height: 21px;
}
.skill-bar{
	width:60%;
}
.skill-bar2{
	width:80%;
}
.skill-bar3{
	width:49%;
}
small{
	color:#838080;
	font-size:0.7em;
}
.about a {
	background: url(../images/dwn.png) no-repeat 0px 0px;
	position: absolute;
	height: 35px;
	width: 55px;
	bottom: -4.5%;
	left: 39%;
}
.load a{
	display:inline-block;
	background:#fff;
	border:1px solid #EFEFEF;
	color:#D2D2D2;
	outline:none;
	border-bottom:5px solid #F6F5F7;
	padding: 0.7em 0em;
	width: 50%;
	margin: 8px auto;
	font-size: 13px;
}
/*----*/

#top-sec{
	border-top:1px solid #F6F5F7;
}
#bottom-sec{
	border-bottom:1px solid #F6F5F7;
}
.blog{
	background:#fff;
	text-align:center;
	padding: 5px 10px;
}
.blog h3{
	margin-top: 12px;
}
.blog p{
	color:#BBBABB;
	font-size:12px;
	width: 95%;
	margin:20px auto;
	line-height:1.5em;
}
.img-desc span{
	background:#F1EFF2;
	height:1px;
	width:35%;
	display:block;
	margin-left:1em;
}
.blog-top {
	width: 100%;
	float: left;
	position:relative;
	margin-bottom: 1em;
}
.blog-img{
	width:50%;
	float:left;
}
.img-desc{
	width:50%;
	float:left;
	text-align: left;
	position:relative;
}
a.date{
	text-decoration: none;
	background: #FF6D6B;
	padding: 5px 8px;
	font-size: 10px;
	color: #fff;
	display: inline-block;
	margin-left:3em;
}
.img-desc h4 {
	margin: 10px 0px 0px 7px;
	font-size: 0.7em;
}
.img-desc p{
	width: 90%;
	margin: 10px 0 5px 10px;
	line-height: 16px;
}
.img-sec{
	margin-right:0%;
}
/*----*/

.client{
	background:url(../images/bg2.jpg) no-repeat 0px 0px;
	min-height:170px;
	background-size:100% 100%;
	padding:2.2em 0;
	position: relative;
}
.client h3{
	margin: 0px;
	letter-spacing: 2px;
	text-align:center;
}
/*--- slider-css --*/
.clients{
	margin:2em auto;
	text-align:center;
	background:url(../images/bg2.jpg) no-repeat 0px 0px;
	background-size:100% 100%;
	min-height:180px;
}
.clients h3{
	color:#364356;
	margin-bottom:12px;
}
.clients p{
	width:100%;
	color:#A5A5A5;
	font-size:13px;
	margin:11px 0;
	line-height: 1.5em;
}
.clients a{
	font-size: 0.7em;
	color:#000;
}
.clients b{
	color:#FF6D6B;
}
.sponcers {
	margin: 1em 0;
}
.sponcers ul li{
	margin:5px 10px;
	display:inline-block;
}
.contact{
	padding:1.2em 0;
	background:#fff;
}
i.line{
	display:block;
	background:#E9E7E7;
	min-height:1px;
	width:11%;
	position:absolute;
	left: 45%;
}
.contact h3{
	margin:0 0 1em 0;
	text-align: center;
}
.contact p{
	padding-top: 1em;
	color: #A0A0A0;
	font-style: italic;
	font-size: 13px;
	width: 80%;
	margin: 0 auto;
	line-height: 1.5em;
	text-align:center;
}
.contact form{
	margin:1em auto;
	width:77%;
	text-align: center;
}
.contact form input[type="text"],.contact form textarea{
	width:94%;
	padding:5px;
	margin-bottom:1.2em;
	border:1px solid #364356;
	font-size:11px;
	font-style:italic;
	color:#A0A0A0;
	outline:none;
	-webkit-appearance: none;
}
.contact form textarea{
	height:70px;
	resize:none;
}
.contact form input[type="submit"]{
	background:#fff;
	border:1px solid #EFEFEF;
	color:#D2D2D2;
	outline:none;
	border-bottom:5px solid #F6F5F7;
	padding: 0.7em 3em;
	font-size:13px;
	margin-top:1em;
		-webkit-appearance: none;
}
.fotter{
	background:#364356;
	min-height:95px;
	text-align:center;
}
.scale{
	background:url(../images/line.png) no-repeat 0px 0px;
	width:100%;
	height:12px;
	display:block;
	background-size:100% 100%;
}
.fotter p{
	color: #C4C4C4;
	text-align: center;
	margin: 0;
	font-size: 13px;
}
.fotter img{
	padding-top:1em;
}
.fotter p{
	padding:1em 0;
}
.fotter p a{
	color:#FF6D6B;
}
